body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.parent{
    width: 1229px;
    border-radius: 24px;
    height: 671px;
    padding: 20px;
    background-color: #262525;
}
.top{
    display: flex;
    gap: 20px;
}
.top-text{
    color: white;
}
.content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 400px;
    justify-content: space-between;
    top: 100px;
}
.box1{
    width: 245px;
    height: 153px;
    border-radius: 20px;
    background-color: #1D1D1D;
}
.layer1{
    display: flex;
    gap: 25px;
}
.main-photo{
    width: 250px;
    height: 250px;
    border-radius: 36px;
}
.box2{
    width: 809px;
    height: 195px;
    border-radius: 20px;
    background-color: #1D1D1D;
}
.box3{
    width:386px ;
    height:157px ;
    border-radius: 20px;
    background-color: #1D1D1D;
}
.layer3{
    display: flex;
    gap: 25px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box4{
    width: 258px;
    height: 273px;
    background-color:#1D1D1D ;
    border-radius: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}